@import "main-code.scss";
@import "hero.scss";

// import-part
.main-container {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(./img/1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-title {
  h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: $color;
  }
}
.navbar {
  ul {
    list-style: none;
    display: flex;
    gap: 60px;
  }
  a {
    color: $color;
    text-decoration: none;
    font-size: 25px;
    font-family: $fontfamily;
    transition: 0.5s;
    &:hover {
      color: $primary;
    }
  }
}
.search {
  display: flex;
  gap: 15px;
  margin-top: 8px;
  .srch {
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    font-weight: $fotw;
    transition: 0.5s;
    cursor: pointer;
  }
  .srch:hover {
    background: $color;
    color: $primary;
  }

  .btn {
    padding: 15px 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: $fotw;
    transition: 0.5s;
    background: $color;
    color: $primary;
    cursor: pointer;
  }
  .btn:hover {
    background: $primary;
    color: $color;
  }
}
// header section is closesd
